h1{
     font-family:'Gill Sans', 'Gill Sans MT';
}


h1,h2{
     color:firebrick;
}


h3{
     font-weight:bolder;
}


h4{
     text-decoration:underline;
}


h5{
    letter-spacing: 20px;
}


p{
    text-align:center;
}
