/* Selectors */
*{
    text-align:center;
}

#mainTopic{
    color:blue;
}

h1,h3,h5{
    font-family:Georgia;
}


.a{
    background-color: cornflowerblue;
    color:white;
}

div button{
    background-color:purple;
    color:azure;
}

/* pseudo class & elements */
button:hover{
    background-color:yellow;
    color:blue;
}

p:nth-of-type(2n-1){
      color:yellow;
}

h1::first-letter{
      color:red;
}

input[type="checkbox"]:checked + label{
    color:darkgreen;
    font-weight:bold;
}