h1{
    font-family: impact;
}


h2{
    font-family: fantasy;
}

h3{
    font-family: Helvetica;
}


p{
     font-family:Brush Script MT;
}

ul{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}