h1{
    text-decoration:underline;
}

h2{
    text-decoration:overline;
}

h3{
    text-decoration:line-through;
}

h4{
    text-decoration:red underline;
}

h5{
    text-decoration:wavy overline;
}

p{
    text-decoration:dotted line-through;
}