div {
    height: 300px; 
    width: 500px; 
    background-color:pink;
    border-width:5px;
    border-color:black;
    border-style: solid;
    /* or border shorthand */   
    /* border:5px solid black; */     /* width|style|color */
    
    /* border side */
      border-style:dashed;
      border-left-color:blue;
      border-right-color:blue;            
      border-radius:5%;
      margin-bottom:25px;
}

   

/* border side */
h1{
    border-width :2px;
    border-style:dashed;
    border-color:purple;

}

/* Margin */
/* Margin shorthand */
/* margin:50px;                       for all 4 sides
margin:1px 2px;                    top & bottom|left & right
margin:1px 2px 3px;                top|left & right|bottom
margin:1px 2px 3px 4px;            *clockwise(top|right|ottom|left) */



/* padding */
button{
    border:2px solid black;
    border-radius:10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color:aqua;
}
 /* Padding shorthand */
/* padding:50px;                 for all 4 sides
padding:1px 2px;                 top & bottom|left & right
padding:1px 2px 3px;             top|left & right|bottom
padding:1px 2px 3px 4px;        *clockwise(top|right|bottom|left) */


