#outer{
    height:400px;
    width:400px;
    border:2px solid black;
    background-color:cornflowerblue;
    font-size:20px;

}


#inner{
    height:200px;
    width:200px;
    background-color:blueviolet;
    font-size:3em;
    padding:1em;
}


button{
    font-size:20px;
    border-radius:10px;
    background-color:skyblue;
    border-color:blue;
    border-style: solid;
    padding-left:20px;
    padding-right:20px;
    margin-top: 10px;
    
}

section{
    font-size:15px;
}

div{
    font-size:2rem;
}