h2{
    display:inline;
    background-color:aquamarine
}

span{
    display:block;
    background-color:yellowgreen;
}



div{
    height:200px;
    width:200px;
    background-color:green;
    margin:10px;
    border:5px solid black;
    display:inline-block;
}


#second{
    display:none;
}