div{
    height:200px;
    width:400px;
    background-color:lightblue;
    margin: 10px auto;
    background-image: url("unsplash.jpg");
    background-size: cover;
    /* background-size:auto;
    background-size:contain;
    background-size:cover; */
    
}