.face{
    height:400px;
    width:400px;
    background-color: orange;
    border-radius: 50%;
}


.mouth{
    height: 75px;
    width:200px;
    background-color: brown;
    border-radius: 0 0 50px 50px;
    position:absolute;
    top:250px;
    left: 100px;
}


.left-eye,.right-eye{
    height:50px;
    width:50px;
     border-radius:50%; 
    background-color: black;
    display:inline-block;
    position:absolute;
    top:100px;
    left:100px;
}

.right-eye{
    left:250px;
}