#a{
    height:200px;
    width:200px;
    background-color: aquamarine;
    margin-top:10px;
    transition:margin-top 2s ease-in-out 0.2s;
}


#a:hover{
    background-color: green;
    margin-top:200px;
    border-radius: 50%;
}




#b{
    height:200px;
    width:200px;
    background-color: cornflowerblue;
    margin-top:10px;
    transition-duration:2s;
}



#b:hover{
    background-color: blue;
    margin-top:200px;
    border-radius: 50%;
}









