p{
    color:#a52a2a;
    text-align:center;
    font-family: Georgia;
    line-height:30px;
}

h1{
    text-decoration: underline;
    text-align:center;
    color:red;
    font-family: Georgia;
}


h3{
    text-align:center;
    color:black;
    font-family: Georgia;
    
}


a{
    text-decoration: none;
    color: rgb(0,255,0);
}

button{
    color:blueviolet;
    background-color: white;
}

textarea{
      color: #000;
}


span{
    text-decoration: underline;
}