
h1{
    color:rgb(255,0,0);
}


h2{
    color:rgb(0,255,0);
}


h3{
    color:rgb(0,0,255);
}


h4{
    color:rgb(225,255,0);
}



h5{
    color:rgb(255,255,255); 
    background: black;
}


p{
    color:rgb(0,0,0);
}